.asteroid {
    font-size:35px;;
   }
   
   .big {
       color:blue;
   }
   #b325 {
       border: solid 4px green;
   }
   
   .b326 {
     border: solid 4px green;
     position:relative;
     top:10px;
   }
   #business {
       background:yellow;
   }
    #b325, #b326, #b329 {
       font-weight: bold
   }